body {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size:1.5em;
    background-image:url("../media/background.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}
footer, header{
    background-color: green;
    opacity: .7;
    width: 90%;
}
article{
    display: flex;
    flex-direction:column;
    height:auto;
    flex-wrap:wrap;
    justify-content:space-between;
}
section{
    flex:1;
    background-color: green;
    padding: 5%;
    width: auto;
    min-height: 30%;
    opacity: 1;
}
h1{
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 150%;
    color: red; 
    text-shadow: 1px 2px black; 
    text-align: center;
}
p{
    color: red;
    text-align: center;
    font-family:Georgia, "Times New Roman", Times, serif;
    font-size: 125%;
    text-shadow: 2px 2px black; 
}
nav {
    margin:0px;
    width:100%;
    height:auto;
}
nav ul {
    background: linear-gradient(0deg, white, green, white);
    box-shadow: 6px 6px 6px rgba(0,0,0,0.15);
    padding: 10px;
    border-radius: 10px;
    list-style: none;
    position: relative;
    color:white;
    font-weight:900;
}
nav ul li {
    display:inline-table;
    margin:10px;
    padding:5px;
    color: red;
}
nav ul li:hover {
    color:radial-gradient(white,lightblue);
    font-size:1em;
}
nav ul li a {
    display: block;
    padding: 25px 40px;
    color:red;
    text-shadow:1px 1px black;
    text-decoration: none;
}
nav ul li:hover a {
    color:red;
    text-decoration: none;
}
nav ul li:hover > ul {
    display:flex;
    flex-direction:column;
}

nav ul ul {
    display: none;
    background:radial-gradient(white,lightblue);
    border:2px solid black;
    border-radius: 0px;
    padding: 0px;
    position: absolute;
    font-size:1em;
    z-index:10;
}

nav ul ul li {
    display:block;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    text-align:left;
    background:radial-gradient(white,lightblue);
}
nav ul ul li a {
    padding: 15px;
    color: red;
}    
nav ul ul li a:hover {
    background: green;
    color: red;
}
